<fieldset>
  <legend><b>Reactive Form</b></legend>
  <div *ngIf="errorMessage" class='error'>
    {{errorMessage}}
  </div>
  <form [formGroup]="userForm"  novalidate (submit)="save()">
    <div>
      <input type="text" formControlName="name" name="name" class='form-control'/>
      <div class='error' *ngIf="userForm.status =='INVALID' ">
          <div *ngIf="userForm.controls['name'].errors">
              <div *ngIf="userForm.controls['name'].errors.required">
                Name is Required
                </div>
          </div>  
      </div>
    </div>
  <div>
    <input type="text" formControlName="email" name="email" class='form-control'/>
    <div class='error' *ngIf="userForm.controls['email'].errors">
        <div *ngIf="userForm.controls['email'].errors.required">
          Email is Required
        </div>
        <div *ngIf="userForm.controls['email'].errors.email">
          Please specify a valid Email
        </div>
      </div>
  </div>
    <input type="submit" name="save" value="Save"/>
  </form>
</fieldset>
<fieldset>
    <legend><b>Users</b></legend>
    <table>
      <tr>
        <th>
          S.No.
        </th>

        <th>
          Name
        </th>

        <th>
          Email
        </th>
        <th>
          Action
        </th>
      </tr>
      <tr *ngFor="let u of users">
        <td>
         {{u._id}}
        </td>

        <td>
          {{u.name}}
        </td>

        <td>
          {{u.email}}
        </td>
        <td>
            <a [routerLink]="['/edit',u.name]">Edit</a>
        </td>
      </tr>
    </table>
  </fieldset>