table{
    border-radius: 3px solid; 
}
table td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}
table tr:nth-child(even){
    background-color: #f2f2f2;
}
table tr:hover {
    background-color: #ddd;
}
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #56b1b1eb;
    color: white;
}
.table-form{
    border: 1px solid;
    margin: 5px;
    padding: 5px;
}
.table-form input{
    display: block;
    margin: 3px;
    border: 2px;
}