<fieldset>
    <legend>For Loop</legend>
<h2> ngFOR</h2>
<div>
  <ul>
    <li *ngFor="let n of names" >{{n}}</li>
  </ul>
</div>
</fieldset>
<fieldset>
    <legend>IF Statement</legend>
<h2>ngIF</h2>
<div>
  <span *ngIf="showTable; then table else notable" ></span>
    <ng-template #table>
      <table class='user-data'>
        <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Phone
          </th>
          <th>
            Address
          </th>
        </tr>
      </thead>
        <tbody>
        <tr *ngFor="let u of users ">
            <td>
                {{u.name}}
              </td>
              <td>
                {{u.phone}}
              </td>
              <td>
                {{u.address}}
              </td>
        </tr>
      </tbody>
      </table>
    </ng-template>
    <ng-template #notable>{{noTableMessage}}</ng-template>
</div>
</fieldset>